body {
  font-family: arial, sans-serif;
}


.logo {
  display: block;
  margin: 120px auto 20px auto;
  width: 21%;
}

/* THIS IS THE SEARCH BAR SECTION */

.searchbarwrapper {
  display: block;
  width: 42%;
  height: 35px;
  margin:  -22px auto 10px auto;
}

.searchbarwrapper img {
  height: 15px;
  position: fixed;
  float: right;
  top; 0px;
}

.searchbarwrapper input {
  width: 100%;
  height: 100%;
  border:1px #D9D9D9 solid;
  border-radius: 1px;
}

.searchbarwrapper input:focus {
  border:1px solid #4285F4;

}

.searchbarwrapper input:hover {
  border: 1px solid #bfbfbf;
}

/* THIS IS WHERE THE SEARCHBAR SECTION ENDS*/

/* THIS IS THE NAV SECTION */
.navwrapper {
  width: 100%;
  height: 20px;
}

.navwrapper li {
  list-style: none;
  display: inline-block;
  margin-top: 7px;
  float: right;
  margin-right: 20px;
  font-size: 13px;
  color: #737373;
}

#profilepic {
  margin-right: 30px;
}

#profilepic img {
  width: 25px;
  height: 25px;
  margin-top:-3px;
}

#notification {
  margin-right: 15px;
}

#apps img {

}

.navwrapper img {
  width: 20px;
  height: 20px;
}


/* THIS IS THE SEARCH BUTTON SECTION */

.buttonwrapper {
  width: 20%;
  height: 40px;
  margin: 30px auto 10px auto;
}

.buttonwrapper button {
  width: 45%;
  height: 40px;
  background-color: #F4F4F4;
  border: none;
  color: #757578;
  font-weight: bold;
}

.buttonwrapper button:hover {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  color: #323234;
}

#googlebutton {
  margin-right: 5px;
}

#luckybutton {
  width: 50%;
}


/* THIS IS THE TEXT UNDER BUTTONS SECTION */

.tiptextwrapper {
  width: 100%;
  height: 40px;
  margin: 25px 0 0 0;
  font-size: 13px;
  text-align: center;
}


.tiptextwrapper a{
  text-decoration: none;
  color: #4414B8;
}

.tiptextwrapper a:hover {
  text-decoration: underline;
}


/* FOOTER SECTION */

footer {
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0;
  background-color: #F2F2F2;
  border-top: 1px solid #E4E4E4;
}

footer ul {
  position: relative;
  list-style: none;
  display: inline-block;
  bottom: 6px;
}

footer li{

  display: inline-block;
  color: #7B6A84;
  font-size: 13px;

}

#leftlist {
  float:left;
}

#leftlist li {
  margin-right: 26px;
}

#leftlist li:nth-child(1) {
  margin-left: -18px;
}

#rightlist {
  float: right;
}

#rightlist li {
  margin-right: 18px;
}

#rightlist li:nth-child(3) {
  margin-right: 26px;
}
